apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ingress-controller-custom-config
  namespace: {{ nginx_ingress.namespace }}
data:
  proxy-buffer-size: "128k"
  proxy-body-size: "50m"
  client-header-buffer-size: "64k"
  large-client-header-buffers: "4 128k"
  client-body-buffer-size: "128k"
  enable-brotli: "true"
  use-gzip: "true"
  gzip-level: "6"
  gzip-types: "application/atom+xml application/javascript application/x-javascript application/json application/rss+xml application/vnd.ms-fontobject application/x-font-ttf application/x-web-app-manifest+json application/xhtml+xml application/xml font/opentype image/svg+xml image/x-icon text/css text/javascript text/plain text/x-component"

---
apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx-controller
  namespace: {{ nginx_ingress.namespace }}
  annotations:
    metallb.universe.tf/allow-shared-ip: "true"
spec:
  type: LoadBalancer
  loadBalancerIP: {{ metallb.control_plane_ip }}
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
    - name: https
      port: 443
      targetPort: 443
      protocol: TCP
  selector:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/component: controller 