apiVersion: v1
kind: Service
metadata:
  name: {{ manifest_vars.service_name }}
  namespace: {{ manifest_vars.service_namespace }}
  labels:
    app: jetson-stats-node-exporter
    version: v0.1.1
  annotations:
    prometheus.io/path: {{ manifest_vars.prometheus_annotations.prometheus_io_path }}
    prometheus.io/port: {{ manifest_vars.prometheus_annotations.prometheus_io_port | string }}
    prometheus.io/scrape: {{ manifest_vars.prometheus_annotations.prometheus_io_scrape | string }}
spec:
  ports:
    - name: metrics
      protocol: TCP
      port: {{ manifest_vars.service_port }}
      targetPort: {{ manifest_vars.service_target_port }}
  selector:
    app: {{ manifest_vars.selector.app }}
  type: {{ manifest_vars.service_type }}
  sessionAffinity: None
  externalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  internalTrafficPolicy: Cluster
