apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ service_namespace }}
  labels:
    app: jetson-stats-node-exporter
    version: v0.1.1
  annotations:
    prometheus.io/path: {{ prometheus_annotations.prometheus_io_path }}
    prometheus.io/port: {{ prometheus_annotations.prometheus_io_port | string }}
    prometheus.io/scrape: {{ prometheus_annotations.prometheus_io_scrape | string }}
spec:
  ports:
    - name: metrics
      protocol: TCP
      port: {{ service_port }}
      targetPort: {{ service_target_port }}
  selector:
    app: {{ selector.app }}
  type: {{ service_type }}
  sessionAffinity: None
  externalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  internalTrafficPolicy: Cluster
