apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ servicemonitor_name }}
  namespace: {{ servicemonitor_namespace }}
  labels:
    app: jetson-stats-node-exporter
    version: v0.1.1
spec:
  endpoints:
    - interval: {{ endpoint_interval }}
      path: {{ endpoint_path }}
      port: {{ endpoint_port }}
      scrapeTimeout: {{ endpoint_scrape_timeout }}
  namespaceSelector:
    matchNames: {{ namespace_selector.match_names }}
  selector:
    matchLabels:
      app: {{ selector.app }}
