apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ manifest_vars.nginx_config_name | default('nginx-ingress-controller-custom-config') }}
  namespace: {{ manifest_vars.nginx_namespace | default('ingress-nginx') }}
data:
  proxy-buffer-size: {{ manifest_vars.nginx_proxy_buffer_size | default('128k') | to_json }}
  proxy-body-size: {{ manifest_vars.nginx_proxy_body_size | default('50m') | to_json }}
  client-header-buffer-size: {{ manifest_vars.nginx_client_header_buffer_size | default('64k') | to_json }}
  large-client-header-buffers: {{ manifest_vars.nginx_large_client_header_buffers | default('4 128k') | to_json }}
  client-body-buffer-size: {{ manifest_vars.nginx_client_body_buffer_size | default('128k') | to_json }}
  enable-brotli: {{ manifest_vars.nginx_enable_brotli | default('true') | to_json }}
  use-gzip: {{ manifest_vars.nginx_use_gzip | default('true') | to_json }}
  gzip-level: {{ manifest_vars.nginx_gzip_level | default('6') | to_json }}
  gzip-types: {{ manifest_vars.nginx_gzip_types | default('application/atom+xml application/javascript application/x-javascript application/json application/rss+xml application/vnd.ms-fontobject application/x-font-ttf application/x-web-app-manifest+json application/xhtml+xml application/xml font/opentype image/svg+xml image/x-icon text/css text/javascript text/plain text/x-component') | to_json }}
