apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ daemonset_name }}
  namespace: {{ daemonset_namespace }}
spec:
  selector:
    matchLabels:
      name: nvidia-device-plugin-ds
  template:
    metadata:
      labels:
        name: nvidia-device-plugin-ds
    spec:
      volumes:
        - name: device-plugin
          hostPath:
            path: {{ device_plugin_path }}
            type: ''
      containers:
        - name: nvidia-device-plugin-ctr
          image: {{ device_plugin_image }}
          env:
            - name: FAIL_ON_INIT_ERROR
              value: '{{ fail_on_init_error }}'
          resources: {}
          volumeMounts:
            - name: device-plugin
              mountPath: {{ device_plugin_path }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
          securityContext:
            capabilities:
              drop:
                - ALL
            allowPrivilegeEscalation: false
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
      tolerations:
{% for toleration in tolerations %}
        - key: "{{ toleration.key }}"
          operator: "{{ toleration.operator }}"
          effect: "{{ toleration.effect }}"
{% endfor %}
      priorityClassName: {{ priority_class_name }}
  updateStrategy:
    type: {{ update_strategy.type }}
    rollingUpdate:
      maxUnavailable: {{ update_strategy.rolling_update.max_unavailable }}
      maxSurge: {{ update_strategy.rolling_update.max_surge }}
  revisionHistoryLimit: {{ revision_history_limit }}
